@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700&family=Proza+Libre&display=swap');

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #F5F7BB; */
}

/* -------------BODY ------------------------------------ */
html,
body {
    min-height: 100%;
}

body {
    min-width: 300px;
    font-size: 1.125rem;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}
a {
    color: #231a19;
}

/* -------------HEADER------------------------------------ */
nav {
    display: flex;
    height: 140px;
    width: 100%;

    background: #ece7e1;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    flex-wrap: wrap;
}

.logo-img {
    height: 130px;
    width: 130px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #532b1e;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active {
    color: #dad5d3;
    background: #883f22;
    border: 1px solid transparent;
    border-radius: 5px;
}

nav ul li a:hover {
    color: #F5F7BB;
    background: #552f1e;
}

nav .menu-toggle-btn i {
    color: #552f1e;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}



/* -------------CONTENT SECTION ------------------------------------ */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 0 30px;
    margin: 10px auto;
    color: #231a19;
}

#landing-p-msg {
    text-align: justify;
}

.text-centering {
    text-align: center;
    font-weight: 900;
}

/* ------------- Menu page  ------------- */
.main-desc {
    background-color: rgba(0, 0, 0, .1);
    background-blend-mode: multiply;
    text-align: justify;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    margin: 10px auto;
}

.page-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

.page-nav-links a:link {
    text-decoration: none;
    color: #231a19 !important;
    margin: 5px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 10px;
}

.page-nav-links a:hover {
    background-color: rgba(87, 48, 30, 0.1);
    color: #231a19;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px;
}

.top-link:link {
    text-decoration: none;
    margin: 20px auto;
    margin: 5px;
}

.top-link:hover {
    background-color: #552f1e;
    color: #ece7e1;
    border: 1px solid transparent;
    border-radius: 10px;
}


.card {
    font-size: 14px;
}

.card-hd {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 2px solid #ccc;

}

.card-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}

.card-item {
    display: flex;
}

.card-img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}

.product-content {
    flex-grow: 1;
}

.product-title {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.product-name {
    margin-right: 1.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.product-info {
    line-height: 1.6;
    font-weight: 500;
    font-size: 0.75rem;
    text-align: justify;
}

#menu-download-link {
    text-decoration: none;
    border: none;
}

/* -------------Gallery main page------------------------------------ */
.gal-wrapper {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 5px;
}

.gal-wrapper>li {
    border: 2px solid rgba(0, 0, 0, .3);
}

.gal-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 300px;
}

/* -------------card section------------------------------------ */

/* -------------FOOTER------------------------------------ */
.footer-container {
    background-color: #552f1e;
    color: #ece7e1;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: auto;
    width: 100%;
    /* padding: 0 100px 0 100px; */
    padding: 0 30px;
    margin: 10px auto;
}

.foo-border {
    border: 1px solid transparent;
}

.rev-bg {
    background-color: #552f1e !important;
    color: #ece7e1 !important;
}

.foo-hd-text {
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    margin-top: 1em;
}

.center-all {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.address-link {
    text-decoration: none;
    color: inherit;
}

.address-link:hover {
    color: #f6b565;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.social-ic {
    align-items: center;
    padding: 2vh;
}

div.social-ic i:hover {
    color: #f6b565 !important;
    font-size: 2rem;
    transition: 1s ease-out;
}

/* while in mobile view the tel link is enabled and proceeds to opening the phone number in caliing screen */
a[class="calling"] {
    pointer-events: auto !important;
    cursor: auto !important;
}

/* ========================================== */



/* -------------Contact page------------------------------------ */

label {
    max-width: 33%;
}


/* -------------Contact Us form page------------------------------------ */


/* -------------Template------------------------------------ */

/* -------------Media Queries------------------------------------ */
/* 320px, 768px, and 1200px are the most commonly used; these three values should be sufficient for targeting smart phones, tablets/laptops, and desktops */
/*  --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px; */



/* @media screen and (min-width: 30em) and (orientation: landscape) { ... } */

/* @media (min-width: 768) and (max-width: 991) {  } */

/* @media (min-width: 576) {} */

/* @media screen and  (min-width: 768) { */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 768px;
        width: 100%;
        min-height: 100%;
        padding: 0 40px;
        margin: 10px auto;
    }

    .card {
        font-size: 16px;
    }

    /* FOOTER  */
    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        padding: 0 100px;
        margin: 10px auto;
    }

    .foo-hd-text {
        border-bottom: 1px solid transparent;
        margin: 0 10px;
    }

}

@media (min-width: 992px) {
    .container {
        max-width: 1000px;
        width: 100%;
        min-height: 100%;
        padding: 0 100px;
        margin: 10px auto;
    }

    .card {
        font-size: 16px;
    }

    .card-group {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-img {
        width: 125px;
        height: 125px;
    }

    .gal-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-width: 700px;
        /* max-height: 400px; */
    }

    .gal-wrapper {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;
        margin: 5% 15%;
        padding: 0;
        gap: 5px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 0 100px;
        margin: 10px auto;

    }

    /* while in desktop view the tel link is disabled */
    .calling {
        pointer-events: none;
        cursor: default;
    }
}


/* MQ for navigation bar responsivness */
@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

/* MQ for navigation bar responsivness */
@media (max-width: 920px) {
    nav .menu-toggle-btn i {
        display: block;
    }

    #select:checked~.menu-toggle-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 130px;
        left: -100%;
        background: #ece7e1;
        /* height: 100vh; */
        height: 370px;
        width: 100%;
        text-align: center;
        display: block;
        border-bottom: 1px solid #552f1e;
        transition: all 0.3s ease;
    }

    #select:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #select:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        color: #ece7e1;
        background: #552f1e;
    }
}

/* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
/* Source: https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion */
@media (prefers-reduced-motion) {
    .fa-bounce {
        animation-name: dissolve;
    }
}

/* @media(max-width: 320px) {
    .grid {
        padding-top: 10rem;
    }
}
@media(max-width: 768px) {
    .grid {
        padding-top: 7rem;

    }
} */