@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700&family=Proza+Libre&display=swap');

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -------------Generally applied styles -> BODY ------------------------------------ */
html,
body {
    min-height: 100%;
}

body {
    min-width: 300px;
    font-size: 1.125rem;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #231a19;
}

/* -------------HEADER------------------------------------ */
header {
    background: #ece7e1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

/* -------------Navigation bar ------------------------------------ */
nav {
    display: flex;
    height: 140px;
    width: 100%;
    max-width: 1000px;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.logo-img {
    height: 130px;
    width: 130px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #532b1e;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active {
    color: #dad5d3;
    background: #883f22;
    border: 1px solid transparent;
    border-radius: 5px;
}

nav ul li a:hover {
    color: #F5F7BB;
    background: #552f1e;
}

nav .menu-toggle-btn i {
    color: #552f1e;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

/* ------------------------------------------------------- */
/* -------------CONTENT SECTION ------------------------------------ */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 0 30px;
    margin: 0 auto;
    color: #231a19;
    background-color: rgba(88, 40, 22, 0.02);
    background-blend-mode: darken;
}

/* ------------------------------------------------------- */
/* -------------Landing page SECTION ------------------------------------ */
.intro-main {
    display: flex;
    flex-direction: column;
}

.intro-area {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.intro-area-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.intro-area-img img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
    margin-top: 1em;
}

.landing-p-msg {
    text-align: justify !important;
    text-justify: inter-word;
}

.intro-links:link {
    text-decoration: none;
    padding: 0 0.3em;
}

.intro-links:hover {
    color: #F5F7BB;
    background: #552f1e;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.2s ease-out;
}

.text-centering {
    text-align: center;
    font-weight: 900;
}

/* ------------- Menu page  ------------- */

.page-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-nav-links a:link {
    text-decoration: none;
    font-size: 0.7em;
    color: #231a19 !important;
    margin: 5px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 10px;
}

.page-nav-links a:hover {
    background-color: rgba(87, 48, 30, 0.1);
    color: #231a19;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px;
}

.top-link:link {
    text-decoration: none;
    margin: 20px auto;
    margin: 5px;
}

.top-link:hover {
    background-color: #552f1e;
    color: #ece7e1;
    border: 1px solid transparent;
    border-radius: 10px;
}

.card {
    font-size: 14px;
    max-width: 100%;
}

.card-hd {
    font-family: 'Merriweather', serif;
    font-weight: 500;
    padding-top: 1em;
}

.card-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}

.card-item {
    display: flex;
}

.card-img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}

.product-content {
    flex-grow: 1;
}

.product-title {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.product-name {
    margin-right: 1.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.product-price {
    font-size: 0.75em;
    font-weight: 300;
}

.product-info {
    line-height: 1.6;
    font-weight: 500;
    font-size: 0.75rem;
    text-align: justify;
}

#menu-download-link {
    text-decoration: none;
    border: none;
    max-width: 100%;
    font-size: 0.7em;
}

/* found a solution to customize my details-summary elements here: 
https://stackoverflow.com/questions/10813581/can-i-replace-the-expand-icon-of-the-details-element */
details>summary {
    list-style-type: '▶️ Click to open quick menu links';
}

details[open]>summary {
    list-style-type: '🔽 Click to close quick menu links';
    padding-bottom: 0.5rem;
}

details {
    padding: 0.5rem;
}

details[open]>summary {
    border-bottom: 1px solid transparent;
}

.details-hr {
    border: 0;
    height: 1px;
    background: rgba(236, 231, 225, 0.5);
    background-blend-mode: darken;
    background-image: -webkit-linear-gradient(left, #f7f7f7, #532b1e, #f7f7f7);
    background-image: -moz-linear-gradient(left, #f7f7f7, #532b1e, #f7f7f7);
    background-image: -ms-linear-gradient(left, #f7f7f7, #532b1e, #f7f7f7);
    background-image: -o-linear-gradient(left, #f7f7f7, #532b1e, #f7f7f7);
}

/* -------------Gallery main page------------------------------------ */
.gal-wrapper {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 5px;
}

.gal-wrapper>li {
    border: 2px solid rgba(0, 0, 0, .3);
}

.gal-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 300px;
}


/* -------------CONTACT -> Forms page------------------------------------ */
.forms-section {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    overflow: hidden;
}

#forms-content {
    display: flex;
    flex-direction: column;
    align-content: center;
}

fieldset {
    display: block;
    border: 1px solid transparent;
    margin-bottom: 1em;
}

legend {
    margin: 0 auto;
}

select {
    background-color: rgba(236, 231, 225, 0.5);
}

select option {
    background-color: #ece7e1;
    color: #231a19;
}

.input-areas {
    line-height: 1.6em;
    width: 95%;
    border: 1px solid transparent;
}

input[type=text],
input[type=email],
input[type=tel],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #dad5d3;
    border-radius: 4px;
    box-sizing: border-box;
}

#message {
    min-height: 100px;
    width: 100%;
    border: 1px solid #dad5d3;
}

input[type=submit] {
    width: 100%;
    background-color: #552f1e;
    color: #ece7e1;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #883F22;
    color: #f5f7bb;
    transition: 0.3s ease-out;
}

input[type=reset] {
    width: 100%;
    background-color: #552f1e;
    color: #ece7e1;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: #883F22;
    color: #f5f7bb;
    transition: 0.3s ease-out;
}


/* -------------FOOTER------------------------------------ */
footer {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding-bottom: 1em;
    font-size: 0.9rem;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: auto;
    width: 100%;
}

.footer-containt-box {
    justify-content: space-between;
    align-content: center;
    max-width: 1000px;
    width: 100%;
}

.foo-border {
    width: 100%;
}

.rev-bg {
    background-color: #552f1e !important;
    color: #ece7e1 !important;
}

.foo-hd-text {
    text-transform: uppercase;
    margin-top: 1em;
}

.center-all {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.address-link {
    text-decoration: none;
    color: inherit;
    padding: 15px 15px;
}

footer>.address-link {
    padding: 150px 150px;
}

.address-link:hover {
    color: #f5f7bb;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.social-ic {
    align-items: center;
    padding: 2vh;
    font-size: 1.6rem;
    ;
}

div.social-ic i:hover {
    color: #f5f7bb !important;
    font-size: 2rem;
    transition: 1s ease-out;
}

/* while in mobile view the tel link is enabled and proceeds to opening the phone number in caliing screen */
a[class="calling"] {
    pointer-events: auto !important;
    cursor: auto !important;
}

/* -------------Contact page------------------------------------ */
label {
    max-width: 33%;
}

/* -------------Media Queries------------------------------------------------------------------------ */

@media (min-width: 992px) {
    .container {
        max-width: 1000px;
        width: 100%;
        min-height: 80vh;
        padding: 0 100px;
        margin: 10px auto;
    }

    .intro-main {
        display: flex;
        flex-direction: column;
    }

    .intro-area {
        display: flex;
        flex-direction: column;
        padding: 1em;
    }

    .card {
        font-size: 16px;
    }

    .card-group {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-img {
        width: 125px;
        height: 125px;
    }

    .gal-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-width: 700px;
    }

    .gal-wrapper {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;
        margin: 5% 5%;
        padding: 0;
        gap: 5px;
    }

    /* ------FOOTER------ */
    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 0 !important;
    }

    .footer-containt-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        padding: 0 100px 0 100px;
    }

    .footer-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        height: 100%
    }

    .foo-border {
        max-width: 1000px;
    }

    /* while in desktop view the tel link is disabled */
    .calling {
        pointer-events: none;
        cursor: default;
    }
}


/* MQ for navigation bar responsivness */
@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

/* MQ for navigation bar responsivness */
@media (max-width: 920px) {
    nav .menu-toggle-btn i {
        display: block;
    }

    #select:checked~.menu-toggle-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 125px;
        left: -100%;
        background: #ece7e1;
        height: 250px;
        width: 100%;
        text-align: center;
        display: block;
        border-bottom: 1px solid #552f1e;
        transition: all 0.3s ease;
    }

    #select:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 22px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #select:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        color: #ece7e1;
        background: #552f1e;
    }
}

/* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
/* Source: https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion */
@media (prefers-reduced-motion) {
    .fa-bounce {
        animation-name: dissolve;
    }
}